/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require select2
 *= require select2-bootstrap
 *= require_self
 */

h1{
  text-align: center;
  margin: 30px 0 20px;
}
.list-row{
  padding: 10px 0;
  margin-bottom: 50px;
}
.institute-btn{
  cursor: pointer;
  @media(min-width: 768px) {
    min-height: 225px;
  }
  @media(max-width: 480px) {
    min-height: 210px;
  }
  img{
    padding: 10px 0;
  }
  p{
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    @media(max-width: 480px) {
      font-size: 18px;
      line-height: 20px;
    }
  }
}
.bank-search{
  height: 500px;
}
#bank_select{
  width: 100%;
}
.select2-selection__arrow{
  display: none;
}
.select2-container--bootstrap .select2-selection{
  height: 50px;
  border-radius: 0px;
  padding: 10px 15px;
  font-size: 22px;
}
.select2-container--bootstrap.select2-container--open .select2-selection{
  box-shadow: 0 0 transparent;
}
.select2-container--bootstrap .select2-dropdown{
  margin-top: -49px;
  border-radius: 0;
}
.select2-container--bootstrap .select2-dropdown--above{
  margin-top: 83px;
  border-bottom: 1px solid #66AFE9;
}
.select2-search--dropdown{
  padding: 0;
}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field{
  border-radius: 0;
  padding: 10px 15px;
  height: 50px;
  font-size: 22px;
  border-width: 0 0 1px 0;
}
.select2-container--bootstrap .select2-results__option[aria-disabled=true]{
  display: none;
}
.select2-result-bank_logo{
  float: left;
  width: 40px;
  margin-right: 10px;
}
.select2-result-bank_meta{
  margin-left: 50px;
  font-size: 20px;
  line-height: 40px;
}
.select2-result-bank{
  padding: 0;
}
// funding page
.funding-container{
  h1{
    margin-bottom: 10px;
  }
  h3{
    text-align: center;
    color: #777;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  h4{
    font-weight: bold;
    margin-bottom: 20px;
  }
  .btn-acct{
    font-size: 28px;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 3px;
    text-align: left;
    border: 1px solid #D8D8D8;
    white-space: normal;
  }
  .acct-name{
    display: inline;
    color: #6c6c6c;
    position: relative;
  }
  .acct-balance{
    float: right;
    text-align: right;
    color: #939393;
    position: relative;
  }
  hr{
    border-color: #D8D8D8;
    border-width: 5px;
    @media(max-width: 767px){
      margin: 30px -10px 20px;
    }
    @media(min-width: 768px){
      margin: 40px -50px 20px;
    }
  }
  .total{
    padding: 0 20px;
    h2{
      font-size: 28px;
      color: #6c6c6c;
      margin-top: 0;
    }
    .total-assets{
      float: left;
    }
    .total-dollars{
      float: right;
    }
  }
  .fund-amount{
    border: 2px solid #D8D8D8;
    padding: 15px 20px 10px;
    font-size: 20px;
    .input-group-addon{
      border-width: 0;
      border-radius: 0;
      border-color: #D8D8D8;
      padding: 6px;
      color: #939393;
      font-style: italic;
      font-size: 20px;
      line-height: 30px;
    }
  }
  .fund-input{
    border-width: 0 0 2px 0;
    border-radius: 0px;
    border-color: #D8D8D8;
    border-style: solid;
    box-shadow: none;
    background: transparent;
    color: #939393;
    font-size: 20px;
    line-height: 30px;
    padding-left: 6px;
    padding-bottom: 0;
    height: 36px;
  }
}
